$base: img-upload;

.#{$base} {
  width: 90px;
  height: 90px;
  background-color: #d2d7db;
  border-radius: 50%;
  text-align: center;

  &__avatar {
    color: #fff;
    width: 95%;
    height: 95%;
  }
}