$base: img-upload;
$img-dimension: 100px;
$img-background: #d2d7db;
$avatar-fit: 100%;

.#{$base} {
  width: $img-dimension;
  height: $img-dimension;
  background-color: $img-background;
  border-radius: 50%;
  text-align: center;

  &__avatar {
    color: #fff;
    width: $avatar-fit;
    height: $avatar-fit;
  }
}