$base: img-upload;
$img-dimension: 80px;
$img-background: #d2d7db;
$avatar-fit: 100%;

.#{$base} {
  position: relative;
  width: $img-dimension;
  height: $img-dimension;
  background-color: $img-background;
  border-radius: 50%;
  text-align: center;
  background-repeat:no-repeat;
  background-size:cover;

  &:not(.read-only):hover {
    opacity: .8;
    cursor: pointer;
  }

  &__avatar {
    color: #fff;
    width: $avatar-fit;
    height: $avatar-fit;
  }

  &__camera {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}