$base: filter;
$search-icon-color: #aaa !default;

.#{$base} {
  &__search-input {
    padding-left: 2.375rem;
  }

  &__search-icon {
    position: absolute;
    z-index: 5;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: $search-icon-color;
  }
}
